@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
}

.logo {
  background: #cf0e0e;
  background: linear-gradient(
    to right,
    #cf0e0e 0%,
    #ff4621 25%,
    #ff4719 75%,
    #cf0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.videotitle{
  font-family: 'Poppins', sans-serif;
}

.subscribers{
  font-family: 'Poppins', sans-serif;

}

.boldfontstyle{
  font-family: 'Inclusive Sans', sans-serif;
}

/* Description.css */
.expanded {
  max-height: 1000px; /* Set a maximum height to allow expansion */
  transition: max-height 0.5s ease-in-out; /* Add a smooth transition effect */
}

.collapsed {
  max-height: 200px; /* Set the collapsed height */
  overflow: hidden; /* Hide overflow content */
  transition: max-height 0.5s ease-in-out; /* Add a smooth transition effect */
}
